@import url("https://fonts.googleapis.com/css?family=Manrope:400,600");
@font-face {
  font-family: "FSAlbert Arabic Web-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/FS Albert Arabic Web Bold.ttf") format("truetype");
}

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
